body {
  font-family: sans-serif;
}
.whole {
	position: absolute;
	top: 30%;
	width: 100%;
}
/****************home*******************/
.home {
	position: absolute;
    /*top: 30%;*/
    margin-top: 50px;
    
}
.slogan {
	font-size: 60px;
	text-align: center;
}
.input-group {
	margin: 0px 5px 0px 5px;
	width: 28%;
	border-radius: 100px;
	display: inline-flex;
}
.searchbtn {
	margin: 0px 5px 0px 5px;
	width: 10%;
}
.form-control {

}

.searchzone {
	display: inline-flex;
}
/****************List1*******************/
.list1 {
	/*margin-top: 210px;*/
	
}
.listbox {
	border-style: 
}
.photo {
	width: 100%;
	height: 100px;
}
/****************Cart*******************/
.btn-lg {
	border-radius: 60px;
	font-size: 30px;
	height: 60px;
	width: 60px;
	padding: 0px;
	position: fixed;
	bottom: 40px;
	right: 40px;
	z-index: 10;
}

.glyphicon-shopping-cart {
	padding-top: 10px;
}

/****************Footer*******************/
footer {
    background-color: white;
    color: gray;
    padding: 15px;
    border: 0.01px solid lightgray;
    position: absolute;
  	right: 0;
  	bottom: 0;
  	left: 0;
}